# Core Inference Dependencies
einops==0.7.0                   # Tensor operations
torch==2.9.0
omegaconf==2.3.0                # Configuration system.
diffusers==0.29.1               # Diffusers
rotary-embedding-torch==0.8.9   # Rotary positional embedding
torchvision==0.24.0
mediapy==1.2.0                  # Notebook Visualization
huggingface_hub>=0.20.0        # HuggingFace Hub for model downloads
